.flex {
  display: flex;
}
.body {
  margin: 0px;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff; /* Adjust background color as needed */
}
.body__header {
  cursor: pointer;
  margin: 0;
  background-color: #3b589e;
  color:white;
  font-size: 20px;
}
.header__nav {
  justify-content: flex-start;
  margin-left: 5vw;
  align-items: center;
  gap: 3vw;
}
.header__search {
  border: 1px solid white;
  padding: 0.5rem 5rem;
  border-radius: 20px;
  font-size: 2vh;
}
.main__home{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 80px;
}

.home__statment{
  padding-top: 40px;
  opacity: 0.8;
  margin-bottom: 0px;
  font-size: 3em;
  font-weight: bold; 
  color: #3b589e; 
  text-align: left; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding-left: 10vw;
}
.home__statment--padding{
  margin-top: 0px;
  padding-left: 15vw;
}


.home__button {
  display: inline-block;
  border-radius: 4px;
  background-color: #3b589e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 10vh;
  margin-left: 20vw;
}

.home__button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.home__button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.home__button:hover span {
  padding-right: 25px;
}
.home__button:hover span:after {
  opacity: 1;
  right: 0;
}

.product__img {
  width: 100px;
}
.main__products {
  flex-wrap: wrap;
}
.products__product {
  flex-direction: column;
  border: 1px solid black;
  margin: 30px;
}
