@media screen and (max-width: 1500px) {
  .list__listProduct {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .list__listProduct--margin{
    margin:10px 30px;
  }
  .listProduct__details {
    text-align: center;
  }
  .nav__search {
    padding: 0.5rem 5vw;
  }
  .nav__links {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .nav__search {
    padding: 0.5rem 4vw;
  }
}
@media screen and (max-width: 700px) {
  .header__nav {
    padding: 10px 50px;
    margin-left: 0px;
  }
  .nav__title {
    display: none;
  }
  .display__header{
    justify-content: center;
    padding: 10px;
  }
  .header__filter{
    width: 120px;
    font-size: 14px;

  }
  .main__home {
    margin-top: 10px;
  }
  .home__shopButton {
    margin-left: 10vw;
  }
  .list__listProduct--margin{
    margin:10px auto;
  }
  .listProduct__details{
    width:60vw;
  }
}
@media screen and (max-width: 490px) {
  .main__cart {
    margin: 5px;
  }
  .home__shopButton {
    margin-left: 2vw;
    font-size: 20px;
    padding: 10px;
    margin: 30px;
    width: 200px;
  }
}
